.App {
  color: rgb(50, 50, 50);
  font-size: 1.2em;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 2em;
  margin: 40px
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  padding: 20px;
  border-radius: 50%;
  border : 5px solid rgb(125, 125, 125);
}

.Content{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
} 

.Content>*{
  flex: 1 1;
  max-width: 33vw;  
}